.section-teem {
    background-color: #F5F4FA;
}

.section-teem .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-teem .teem-list-wrapper {
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.teem-list-wrapper .list {
    display: flex;
    justify-content: space-between;
}

.teem-list-wrapper .icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus .icon,
.link:hover .icon {
    fill: white;
}

.teem-list-wrapper .link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.section-teem .teem-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-teem .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.section-teem .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;
}

.section-teem .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primery-color-text);
    text-align: center;
    margin-bottom: 16px;
}
